{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">hompeage template</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            <br/><br/>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet risus non tortor semper fermentum. Sed turpis orci, sollicitudin sit amet faucibus eget, tincidunt nec est. Donec id libero justo. Suspendisse potenti. Vivamus ac consectetur eros. Praesent scelerisque in neque et efficitur. Phasellus et imperdiet enim, quis maximus neque. Aenean id lacinia odio, vel blandit lacus. Donec malesuada cursus odio, ut dignissim odio tincidunt vel. Nunc sagittis elit in congue venenatis. Duis vitae metus a lorem pharetra viverra quis eget ligula. Ut at libero ac turpis auctor fringilla at a massa. Morbi aliquam pretium lacus in tristique. Quisque scelerisque massa leo, vel consectetur est faucibus nec. Ut mauris ligula, volutpat et lacinia eu, aliquam eget erat.
                            <br/><br/>
                            Nam eget eros ut elit venenatis lacinia in a lectus. Phasellus tempor felis eu orci vulputate tempus. Quisque tempor augue a dui lobortis, quis ornare leo auctor. Maecenas aliquam sed diam non mattis. Nulla pellentesque elit vel venenatis finibus. Suspendisse faucibus turpis ex, nec gravida risus consectetur eu. Etiam venenatis ullamcorper urna facilisis consectetur. Sed volutpat dictum dolor. Nullam vitae consequat nunc. Nulla sed gravida dolor, pretium pharetra orci. Sed facilisis rhoncus lacinia. Mauris feugiat accumsan est sit amet dictum.
                            <br/><br/>
                            Nulla at justo sit amet leo rhoncus scelerisque. Fusce venenatis dapibus placerat. Vestibulum id nunc nulla. Suspendisse potenti. Vivamus sit amet viverra dolor. Vivamus ac varius tellus. Fusce consequat et ipsum nec convallis. Aenean sit amet ipsum quis mauris fringilla sagittis. Nam rhoncus pharetra dui, nec vulputate odio cursus eget. Nam vitae ipsum consequat, vulputate justo eu, hendrerit mauris. Praesent eget quam nec lorem vestibulum varius. Proin congue dictum nulla, posuere accumsan nisl ornare sit amet. Ut convallis fringilla ornare. Nunc et libero tincidunt, egestas enim at, lacinia metus.
                            <br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>

{% endblock  %}